<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">
<title>NDI 2014</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/custom.css" />

<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.9.0.min.js"></script>
<script src="js/ajax.js"></script>

<!-- Environment -->
<script src="js/env.js"></script>

<script src="js/get.js"></script>
<script src="js/services.js"></script>

<!-- Leaflet -->
<link rel="stylesheet" href="lib/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="css/leaflet.label.css" />
<!-- Leaflet JS  -->
<script type="text/javascript" src="lib/leaflet-0.7.3/leaflet.js"></script>
<script src="js/map.js"></script>


</head>
<body ng-app="myApp">

	<!-- Barre de navigation -->

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NDI 2014</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li role="presentation" class="active"><a href="#home"
						aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
					<li class="dropdown" role="presentation"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-expanded="false">Create <span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a href="#Createrefugee"
								aria-controls="refuge" role="tab" data-toggle="tab">Refugee</a></li>
							<li role="presentation"><a href="#Createcamp"
								aria-controls="camp" role="tab" data-toggle="tab">Camp</a></li>
							<li role="presentation"><a href="#Createong"
								aria-controls="ong" role="tab" data-toggle="tab">ONG</a></li>
						</ul></li>
					<li class="dropdown" role="presentation"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-expanded="false">Search <span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a href="#SearchRefugee"
								aria-controls="refuge" role="tab" data-toggle="tab">Refugee</a></li>
							<li role="presentation"><a href="#SearchCamp"
								aria-controls="camp" role="tab" data-toggle="tab">Camp</a></li>
							<li role="presentation"><a href="#SearchOng"
								aria-controls="ong" role="tab" data-toggle="tab">ONG</a></li>
						</ul></li>

					<li role="presentation"><a href="#tblCamp"
						aria-controls="messages" role="tab" data-toggle="tab">Camps</a></li>
					<li role="presentation"><a href="#mapCamp"
						aria-controls="mapCamp" role="tab" data-toggle="tab">Carte
							Camps</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Tab panes -->
	<div class="container">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<div class="container">
					<div class="jumbotron">
						<h1>Seek me</h1>
						<p>Cette application permet à des personnes de retrouver des réfugiés, dans le monde entier, dans les différents camps d'ONG.</p>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Createrefugee"
				ng-controller="AddRefugeeController">
				<h2>Add a refugee</h2>
				<form class="form-horizontal" role="form" ng-submit="submit()">
					<div class="form-group">
						<label for="inputFirstName" class="col-sm-2 control-label">First
							name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname"
								ng-model="refugee.firstName" placeholder="First name">
						</div>
					</div>
					<div class="form-group">
						<label for="inputLastName" class="col-sm-2 control-label">Last
							name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="lastname"
								ng-model="refugee.lastName" placeholder="Last name">
						</div>
					</div>
					<div class="form-group">
						<label for="inputCountry" class="col-sm-2 control-label">Country</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="country"
								ng-model="refugee.country" placeholder="Country">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPhone" class="col-sm-2 control-label">Phone
							number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="phone"
								ng-model="refugee.phone" placeholder="Phone">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label> <input type="checkbox"
									ng-model="refugee.publicProfile">Make my profile
									private
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" id="submit" class="btn btn-default">Add</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="Createcamp"
				ng-controller="AddCampController">
				<h2>Add a camp</h2>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">
							Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name"
								placeholder="Name" ng-model="camp.name">
						</div>
					</div>
					<div class="form-group">
						<label for="inputOrganization" class="col-sm-2 control-label">Organization</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="organization"
								placeholder="Organization" ng-model="camp.organization">
						</div>
					</div>
					<div class="form-group">
						<label for="inputCountry" class="col-sm-2 control-label">Country</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="country"
								placeholder="Country" ng-model="camp.country">
						</div>
					</div>
					<div class="form-group">
						<label for="inputLat" class="col-sm-2 control-label">Latitude</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="latitude"
								placeholder="Latitude" ng-model="camp.latitude">
						</div>
					</div>
					<div class="form-group">
						<label for="inputLongitude" class="col-sm-2 control-label">Longitude</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="longitude"
								placeholder="Longitude" ng-model="camp.longitude">
						</div>
					</div>
					<div class="form-group">
						<label for="inputMaxP" class="col-sm-2 control-label">Capacity</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="maxpeople"
								placeholder="Number of available spots"
								ng-model="camp.maxPeople">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" id="submit" class="btn btn-default">Add</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</div>
					</div>


				</form>
			</div>



			<div role="tabpanel" class="tab-pane" id="Createong"
				ng-controller="AddONGController">
				<h2>Add a ong</h2>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">
							Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name"
								placeholder="Name" ng-model="ong.name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" id="submit" class="btn btn-default">Add</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
			</div>

			<div role="tabpanel" class="tab-pane" id="SearchRefugee">
				<h2>Search a refugee</h2>
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label for="inputFirstName" class="col-sm-2 control-label">First
							Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname"
								placeholder="First name">
						</div>
					</div>
					<div class="form-group">
						<label for="inputLastName" class="col-sm-2 control-label">Last
							Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="lastname"
								placeholder="Last name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Search</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
				<div class="refugee-result-search"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="SearchCamp"
				ng-controller="SearchCampCtrl">
				<h2>Search a camp</h2>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputOrganization" class="col-sm-2 control-label">Organization</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="organization"
								placeholder="Organization" ng-model="camp.organization">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Search</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</div>
					</div>
				</form>
				<div class="camp-result-search">

					<table class="table table-bordered">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Country</th>
							<th>Organization</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Used spots</th>
							<th>Capacity</th>
						</tr>
						<tr ng-repeat="c in camps">
							<td>{{ c.id }}</td>
							<td>{{ c.name }}</td>
							<td>{{ c.country }}</td>
							<td>{{ c.organization }}</td>
							<td>{{ c.latitude }}</td>
							<td>{{ c.longitude }}</td>
							<td>{{ c.actualPeople }}</td>
							<td>{{ c.maxPeople }}</td>
						</tr>
					</table>

				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="SearchOng"
				ng-controller="SearchOngCtrl">
				<h2>Search a ONG</h2>
				<div class="camp-result-search">
					<table class="table table-bordered">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Number of Member</th>
						</tr>
						<tr ng-repeat="o in ong">
							<td>{{ o.id }}</td>
							<td>{{ o.name }}</td>
							<td>{{ o.sizeMember }}</td>
						</tr>
					</table>

				</div>
			</div>


			<div role="tabpanel" class="tab-pane" id="tblCamp"
				ng-controller="PostsCtrl">

				<h1>Camps</h1>

				<table class="table table-bordered">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Country</th>
						<th>Organization</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Used spots</th>
						<th>Capacity</th>
					</tr>
					<tr ng-repeat="c in camps">
						<td>{{ c.id }}</td>
						<td>{{ c.name }}</td>
						<td>{{ c.country }}</td>
						<td>{{ c.organization }}</td>
						<td>{{ c.latitude }}</td>
						<td>{{ c.longitude }}</td>
						<td>{{ c.actualPeople }}</td>
						<td>{{ c.maxPeople }}</td>
					</tr>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane" id="mapCamp"
				ng-controller="PostsCtrl">
				<div class="container">
					<!-- Debut du contenant de la map -->
					<div id="map" class="connected"></div>
					<!-- Fin du contenant de la map-->
				</div>
				^y
			</div>
		</div>
	</div>
	<!-- /.container -->
	<script>
		// Initialise
		createEnv();
		initMap();
	</script>
</body>
</html>